<div class="container mt-2 mb-2">
  <div class="card">
    <div class="card-header">
      <%= __('Edit element') %>
    </div>
    <div class="card-body">
      <form action="/groceries" method="POST" class="was-validate pt-3">
        <div class="form-row">
          <input type="hidden" name="id" class="form-control" value="<%= rows[0].id%>"/>
          <div class="form-group col">
            <label for="name" class="col-form-label"><%= __('Name') %></label>
              <input type="text" placeholder="Pizza" name="name" class="form-control" value="<%= rows[0].name%>" required/>
          </div>
          <div class="form-group col">
            <label for="type_id" class="col-form-label"><%= __('Type') %></label>
            <select name="type_id" class="form-control custom-select" required>
              <option value=""></option>
              <% if(types) { %>
                <% types.forEach(function(type) { %> 
                  <option value="<%= type.id%>" 
                    <% if(type.id==rows[0].type_id) { %> 
                      selected 
                    <% } %> >
                      <%= type.name%>
                  </option>
                <% }) %>
              <% } %>
            </select>
          </div>
          <div class="form-group col mt-4">
            <div class="custom-control custom-switch">
              <input type="checkbox" data-toggle="modal" data-target="#exampleModalCenterUpdate" 
              class="custom-control-input" id="bought_<%=rows[0].id%>" name="bought" 
              <% if(rows[0].bought==='yes'){ %> checked <% } %>/>
              <label class="custom-control-label" for="bought_<%=rows[0].id%>"><%= __('Bought') %></label>
            </div>
          </div>
        </div>
        <button class="btn btn-danger mb-2" type="submit" value="delete"><%= __('Delete') %></button>
        <button class="btn btn-primary mb-2" type="submit"><%= __('Submit') %></button>
      </form>
    </div>
  </div>
</div></br>
