<div class="container mb-2">
  <div class="card">
    <div class="card-header">
      Add new Element
    </div>
    <div class="card-body">
      <form action="/home" method="POST" class="was-validate pt-3">
        <div class="form-row">
          <div class="form-group col"></div>
          <div class="form-group col-5">
            <label for="name" class="col-form-label">Name</label>
              <input type="text" placeholder="Pizza" name="name" class="form-control" required/>
          </div>
          <div class="form-group col-5">
            <label for="type_id" class="col-form-label">Tipo</label>
            <select name="type_id" class="form-control custom-select" required>
              <option value=""></option>
              <% if(types) { %>
                <% types.forEach(function(type) { %> 
                  <option value="<%= type.id%>"><%= type.name%></option>
                  <% }) %>
              <% } %>
            </select>
          </div>
          <div class="form-group col"></div>
        </div>
          <button class="btn btn-primary mb-2" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div></br>
<div class="container">
  <div class="card">
    <div class="card-header">
      <%= links %>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Tipo</th>
            <th scope="col">Comprato</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% if(rows) { %>
            <% rows.forEach(function(row) { %>
              <% row.action='/home'; %>
              <tr>
                <td><a class="primary font-weight-bold" href="home/<%= row.id %>"><%= row.name %></a></td>
                <td><a class="primary" href="types/<%= row.type_id %>"><%= row.type %></a></td>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" onclick="updateBought(<%= JSON.stringify(row)%>);" data-toggle="modal" data-target="#exampleModalCenterUpdate" 
                    class="custom-control-input" id="bought_<%=row.id%>" name="bought_<%=row.id%>" 
                    <% if(row.bought==='yes'){ %> checked <% } %>/>
                    <label class="custom-control-label" for="bought_<%=row.id%>"></label>
                  </div>
                </td>
                <td>
                  <button class="btn btn-sm btn-warning" type="button" onclick="">
                    <span class="fa fa-edit"></span>
                  </button>
                  <button class="btn btn-sm btn-danger" type="button" onclick="pushInfoElement(<%= JSON.stringify(row)%>);" data-toggle="modal" data-target="#exampleModalCenter">
                    <span class="fas fa-trash-alt"></span>
                  </button>
                </td>
              </tr>
            <% }); %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('modal_update') %> 
<%- include('modal'); %>