<div class="container mb-2">
  <div class="card">
    <div class="card-header">
      Add new Element
    </div>
    <div class="card-body">
      <form action="/home" method="POST" class="was-validate pt-3">
        <div class="form-row">
          <div class="form-group col-4">
            <label for="name" class="col-form-label">Name</label>
              <input type="text" placeholder="Pizza" name="name" class="form-control" required/>
          </div>
          <div class="form-group col">
            <label for="type_id" class="col-form-label">Tipo</label>
            <select name="type_id" class="form-control custom-select" required>
              <option value=""></option>
              <% if(types) { %>
                <% types.forEach(function(type) { %> 
                  <option value="<%= type.id%>"><%= type.name%></option>
                  <% }) %>
              <% } %>
            </select>
          </div>
          <div class="form-group col">
            <!--<label for="bought" class="col-form-label">Comprato</label>-->
            <!--<input type="text" name="bought" />-->
            <div class="custom-control custom-switch"></br>
              <input type="checkbox" class="custom-control-input" id="bought" />
              <label class="custom-control-label" for="bought">Comprato</label>
            </div>
          </div>
        </div>
          <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div></br>
<div class="container">
  <div class="card">
    <div class="card-header">
      <%= links %>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <!--<th scope="col">#</th>-->
            <th scope="col">Nome</th>
            <th scope="col">Tipo</th>
            <th scope="col">Comprato</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% if(rows) { %>
            <% rows.forEach(function(row) { %> 
              <tr>
                <!--<th scope="row">1</th>-->
                <td><a class="primary font-weight-bold" href="<%= row.id %>"><%= row.name %></a></td>
                <td><a class="primary" href="<%= row.type_id %>"><%= row.type %></a></td>
                <td>
                  <% if(row.bought==='no'){ %>
                    <span class="badge badge-danger"><%= row.bought %></span>
                  <% }else{ %>
                    <span class="badge badge-success"><%= row.bought %>></span>
                  <% } %>
                </td>
                <td>
                  <button class="btn btn-sm btn-warning" type="button" >
                    <span class="fa fa-edit"></span>
                  </button>
                  <button class="btn btn-sm btn-danger" type="button">
                    <span class="fas fa-trash-alt"></span>
                  </button>
                </td>
              </tr>
            <% }); %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
