<div class="container quotes">

    <br/> 
      <form action="/quotes" method="POST" class="was-validate">
          <div class="form-group">
            <label for="name">Name:</label>
              <input type="text" placeholder="name" name="name"></br>
              <label for="quote">Quote:</label>
            <input type="text" placeholder="quote" name="quote"></br>
        <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>


</div>
<div class="container">
  <div class="card">
    <div class="card-header">
      <%= links %>
    </div>
    <div class="card-body">
      <% if(results) { %>
        <%= results %>
      <% } %>
      <table class="table table-hover">
        <thead>
          <tr>
            <!--<th scope="col">#</th>-->
            <th scope="col">Nome</th>
            <th scope="col">Tipo</th>
            <th scope="col">Comprato</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% if(rows) { %>
            <% rows.forEach(function(row) { %> 
              <tr>
                <!--<th scope="row">1</th>-->
                <td><a class="primary font-weight-bold" href="<%= row.id %>"><%= row.name %></a></td>
                <td><a class="primary" href="<%= row.type_id %>"><%= row.type %></a></td>
                <td>
                  <% if(row.bought==='no'){ %>
                    <span class="badge badge-danger"><%= row.bought %></span>
                  <% }else{ %>
                    <span class="badge badge-success"><%= row.bought %>></span>
                  <% } %>
                </td>
                <td>
                  <button class="btn btn-sm btn-warning" type="button" >
                    <span class="fa fa-edit"></span>
                  </button>
                  <button class="btn btn-sm btn-danger" type="button">
                    <span class="fas fa-trash-alt"></span>
                  </button>
                </td>
              </tr>
            <% }); %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
