<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('head'); %>
</head>
<body>

  <%- include('navbar'); %>	

    <div class="container-fluid">
        <div class="row">
            <div id="sidebarCol" class="col-2 v-none">
                <%- include('sidebar'); %>
            </div>
            <div class="col-8">
              <% if (links) { %>

                <div class="row">
                  <%- include('breadcrumb'); %>
                </div>

              <% } %>

              <% if (login) { %>
                <%- include('main'); %>
              <%} else { %>
                <%- include(filename); %>
              <% } %> 
            </div>
        </div>
    </div>



  <%- include('lib-script'); %>
</body>
</html>
