<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head'); %>
</head>
<body>
  <%- include('navbar'); %>	
	Node - Express - Mongo
  <div class="container quotes">
  <ul class="quotes">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">
      <span><%= quotes[i].name %></span>
      <span><%= quotes[i].quote %></span>
    </li>
  <% } %>
  </ul>
  </div>
  <form action="/quotes" method="POST">
	  <input type="text" placeholder="name" name="name"></br>
	  <input type="text" placeholder="quote" name="quote"></br>
          <button type="submit">Submit</button>
  </form>
  <div>
	  <h3>Replace last quote </h3>
	  <button id="update"> Replace </button>
  </div>
  <div>
  	<h3>Delete first quote</h3>
  	<button id="delete"> Delete first quote </button>
  </div>
  <%- include('lib-script'); %>
</body>
</html>
