<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('head'); %>
</head>
<body>

  <%- include('navbar'); %>	

    <%- include('sidebar'); %>
  
    <div class="container">
        <div class="row">
            <div class="col">
              <% if (links) { %>
                <div class="row">
                  <%- include('breadcrumb'); %>
                </div>
              <% } %>

              <% if (login) { %>
                <%- include('main'); %>
              <%} else { %>
                <%- include(filename); %>
              <% } %> 
            </div>
        </div>
    </div>


    <%- include('footer'); %>
  <%- include('lib-script'); %>
</body>
</html>
