<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('head'); %>
</head>
<body>

  <%- include('navbar'); %>	

    <%- include('sidebar'); %>
  
    <div class="container">
        <div class="row">
            <div class="col">
              <% if (links) { %>
                <div class="row">
                  <%- include('breadcrumb'); %>
                </div>
              <% } %>

              <% if (login) { %>
                <%- include('main'); %>
              <%} else { %>
                <%- include(filename); %>
              <% } %> 
            </div>
        </div>
    </div>


    <footer class="footer">
      <div class="container">
        <span class="text-muted">&#169; 2021 Powered with &#10084; by <a target="_blank" href="https://www.linkedin.com/in/alfonsopisicchio/">Alfonso</a></span>
      </div>
    </footer>
  <%- include('lib-script'); %>
</body>
</html>
